body{background-color: #FFFFE8;
}
hr{
    background-color:#FFFFE8;
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 100px;
    

}
h1{
    color: #B73E3E;
}
h3{
    color: #B73E3E;
}